/* src/components/BlueButton.css */
.blue-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 240px;
    margin-left: 80px;
  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }
  